{% extends 'navbar.html' %}

{% block content %}
<h2 align="center">Registered Student Details</h2>
<table align="center" border="2px" cellpadding="5px">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Phone Number</td>
        <td>Semester</td>
        <td>Course</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>

    {% for i in data %}
    <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.student_name }}</td>
                <td>{{ i.student_phone }}</td>
                <td>{{ i.student_semester }}</td>
                <td>{{ i.student_course }}</td>
                <td> <a href="{% url 'update_student' i.id %}">Update</a></td>
                <td> <a href="{% url 'delete_student' i.id %}">Delete</a></td>

            </tr>
    {% endfor %}

</table>

{% endblock %}