{% extends 'navbar.html' %}

{% block content %}
<h2 align="center">Display Books Details</h2>
<table align="center" border="2px" cellpadding="5px">
    <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Course Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
   {% for i in data %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.book_name }}</td>
                <td>{{ i.author_name }}</td>
                <td>{{ i.course_id }}</td>
                <td> <a href="{% url 'update_book' i.id %}">Update</a></td>
                <td> <a href="{% url 'delete_book' i.id %}">Delete</a></td>
            </tr>
     {% endfor %}
</table>

{% endblock %}