{% extends 'navbar.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>Student Name : </td>
            <td><input type="text" name="txtStudentName" value="{{data.student_name}}"></td>
        </tr>
        <tr>
            <td>Book Name : </td>
            <td><input type="text" name="txtBookName" value="{{data.book_name}}"></td>
        </tr>
        <tr>
            <td> Issued Date : </td>
            <td><input type="date" name="txtissuedDate" >
            <input type="text" value="{{data.issued_date}}" disabled></td>
        </tr>
        <tr>
            <td>Valid Till : </td>
            <td><input type="date" name="txtvalidtill" >
            <input type="text" value="{{data.valid_till}}" disabled></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="btnSubmit" value="Update"></td>
        </tr>
    </table>

</form>
{% endblock %}