{% extends 'navbar.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <h2 align="center">Add Books</h2>
  <table align="center">
    <tr>
      <td>Book Name</td>
      <td><input type="text" name="txtbook" value="{{ data.book_name }}"></td>
    </tr>
    <tr>
      <td>Author Name</td>
      <td><input type="text" name="txtauthor" value="{{ data.author_name }}"></td>
    </tr>
    <tr>
      <td>Course ID</td>
      <td>
        <select name="ddlcourse">
          <option selected>{{ data.course_id }}</option>
              {% for i in Course_Data %}
              <option>{{ i.course_name }}</option>
              {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="Update Details"></td>
    </tr>
  </table>
</form>


{% endblock %}